
/* global */
:root {
  --basic-black: #000000;
  --basic-extra-dark: #283136;
  --basic-gray: #666666;
  --basic-dark-gray: #444444;
  --basic--white: #ffffff;
  --basic--red: #FB565A;
  --basic--green: #00CA74;
  --basic-yellow: #EFC849;
}

body {
 min-width: 960px;
 margin: 0;
 padding: 0;
 font-family: "Roboto", "Arial", sans-serif;
 font-size: 14px;
 line-height: 24px;
 font-weight: 400;
 color: var(--basic-black);
 background-color: var(--basic--white);
 background-image: url("./img/bg.jpg");
 background-position: top center;
 background-repeat: no-repeat;
}
/* button color */
.page a {
  text-decoration: none;
  color: var(--basic-black);
}

a.to-learn-more-write-as {
  color: var(--basic--white);
}
a.we-can-order {
  color: var(--basic--white);
}
.we-can-order-red  {
  background-color: var(--basic--red);
}
.we-can-order-green {
  background-color: var(--basic--green);
}
.we-can-order-yellow {
  background-color: var(--basic-yellow);
}



 img {
   max-width: 100%;
   height: auto;
 }

 /* Main navigation */


.site-navigation {
  font-size: 16px;
  line-height: 30px;
  list-style: none;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--basic-black);
}

.site-navigation-basket {
font-size: 16px;
line-height: 30px;
font-weight: 500;
text-transform: uppercase;
color: var(--basic-black);
}

.slogan {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slogan-description {
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-extra-dark);
}

.to-learn-more-write-as {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--basic--red);

}
/* we-can */

.we-can-headline {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.we-can-title {
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-extra-dark);
}

.we-can-order {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;

}


/* why-are-we-headline */

.why-are-we-headline {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.why-are-we-title {
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-extra-dark);
}

/* we-do */

.we-do-headline {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--basic-extra-dark);
}

.we-do-list {
  list-style: none;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-extra-dark);
}

.how-we-do-headline {
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--basic-extra-dark);
}
.we-do-list {
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-extra-dark);
}

.numbers {
  font-size: 45px;
  line-height: 64px;
  font-weight: bold;
}
.skinny {
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
}


.how-we-do-values {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-extra-dark);
}

/* clients */

.clients {
  list-style: none;
}

.footer-logo {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}


.footer-address {
  font-size: 16px;
  line-height: 18px;
}

.footer-phone {
  font-size: 16px;
  line-height: 18px;
}

.social {
  list-style: none;
}

.be-friends-headline {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
}
.be-friends-sell {
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-dark-gray);
}
.footer-address {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-gray);
}
a.footer-phone {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-gray);
}

/* shop templates */

.sorting {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}
.navigation-shop {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  list-style: none;
}
.gallery-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}
.gallery-description {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-gray);
}
.gallery-price {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  align-items: center;
  text-transform: uppercase;
  color: var(--basic--white);
  background-color: var(--basic--red);
  width: 200px;
  height: 50px;
  border-radius: 3px;
}
